.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('');
}

.login-form {
  background-color: rgba(235, 192, 192, 0.281);
  padding: 20px;
  border-radius: 35px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.login-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-button {
  background-color: #05cdff;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #1f1717;
}

a {
  text-decoration: none;
  color: #f80606;
}

a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .login-form {
    width: 100%; /* Adjust the width for smaller screens */
  }

  .login-container {
    background-size: cover; /* Adjust background size for smaller screens if needed */
  }
  .login-right-side-image{
    width: 150px;
  }
  .login-right-side-image img{
    width: 150px;
  }
}
/* Mobile styles using media queries */
@media only screen and (max-width: 600px) {
  .paragraphStyle {
    font-size: 16px; /* Adjust the font size for smaller screens */
  }
}