.registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}

form {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
 
  width: 400px; /* Adjust the width as needed */
  text-align: center;

}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: cursive;
}

.input-field {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
}

.submit-button:disabled {
  background-color: #dddddd;
  color: #555555;
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: #4caf50;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 10px;
}
.header-info {
  background-color: #f0f0f0; /* Background color for the header-info div */
  padding: 20px; /* Padding for the header-info div */
  text-align: center; /* Center the text within the div */
font-family: cursive;
}

.header-info h4 {
  color: #333; /* Text color for the h4 element inside header-info */
  font-size: 24px; /* Font size for the h4 element */
  margin: 0; /* Remove margin to prevent spacing around the h4 element */
}
/* Add these styles to your existing CSS file or create a new one */

/* Mobile Styles */
@media screen and (max-width: 600px) {
  .registration-container {
    padding: 20px;
  }
.header-info h4{
  font-size: 10px;
}
.header-info{
  width: 100px;
}
  .left-image img {
    width: 150px;
    height: 150px;
  }

  form {
    max-width: 100px;
  }

  .input-label,
  .input-field {
    width: 100px;
    margin-bottom: 10px;
    font-size: 10px;
  }

  .submit-button {
    width: 100%;
    font-size: 10px;
  }
  p{
    font-size: 10px;
  }
  a{
    font-size: 10px;
    border:#4caf50;
    border-radius: 25px;
  }
}
